* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #03071f;
}

header {
    position: relative;
    background-color: white;
    border: 1px solid black;
    width: 90%;
    margin-left: 5.5rem;
    margin-top: 2rem;
    height: 6.5rem;
    border-radius: 3rem;
}

.side-image {
    position: absolute;
    top: 28rem;
    right: 50rem;
    rotate: 65deg;
    opacity: 2.5;
    z-index: -1;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hLogo {
    display: flex;
}

.hLogo img {
    width: 5rem;
    margin-top: 0.7rem;
    margin-left: 1.5rem;
}

.logoText {
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem
}


.logoText h3 {
    font-size: 2rem;
}

.logoText h4 {
    font-size: 1rem;
}

.lists {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-top: 0.2rem;
    margin-right: 8rem;
}

.lists a:hover {
    color: #64c2f5f8;
}

.lists a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.education {
    position: relative;
    width: 100%;
}

.educ h1 {
    margin-top: 5.5rem;
    color: white;
    text-align: center;
    font-size: 4rem;
}

.verline {
    border: 1px solid rgb(255, 255, 255);
    width: 5px;
    background: white;
    box-shadow: 0px 1px 10px 5px #ffffffb2;
    border-radius: 1rem;
    height: 98rem;
    margin: 9rem 59rem;
    position: relative;
}

.dots {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 10px 5px white;
    position: absolute;
    top: 11.5rem;
    right: -0.7rem
}

.dots1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 10px 5px white;
    position: absolute;
    top: 35rem;
    right: -0.7rem
}


.dots2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 10px 5px white;
    position: absolute;
    top: 60rem;
    right: -0.7rem
}

.dots3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 10px 5px white;
    position: absolute;
    top: 84.5rem;
    right: -0.7rem
}

.primary {
    position: absolute;
    top: 18.5rem;
    left: 27rem;
    width: 30rem;
    height: 15rem;
    background: #cae0ecb0;
    border-radius: 16px;
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(189, 232, 255, 0.46);
    box-shadow:  0px 1px 15px 5px rgba(255, 255, 255, 0.94);
    transition: ease-in-out 1s;
}

.secondaryJ {
    position: absolute;
    top: 41.8rem;
    right: 27.5rem;
    width: 30rem;
    height: 15rem;
    background: #ffffffa3;
    border-radius: 16px;
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(189, 232, 255, 0.46);
    box-shadow:  0px 1px 15px 5px rgba(255, 255, 255, 0.94);
    transition: ease-in-out 1s;
}

.secondaryS {
    position: absolute;
    top: 67rem;
    left: 27rem;
    width: 30rem;
    height: 15rem;
    background: #ffffffa3;
    border-radius: 16px;
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(189, 232, 255, 0.46);
    box-shadow:  0px 1px 15px 5px rgba(255, 255, 255, 0.94);
    transition: ease-in-out 1s;
}

.tertiary {
    position: absolute;
    top: 91rem;
    right: 27.5rem;
    width: 30rem;
    height: 15rem;
    background: #cae0ecb0;
    border-radius: 16px;
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(189, 232, 255, 0.46);
    box-shadow:  0px 1px 15px 5px rgba(255, 255, 255, 0.94);
    transition: ease-in-out 1s;
}

.primary h1, .tertiary h1 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.secondaryJ h1, .secondaryS h1 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.7rem;
}

.primary h3, .tertiary h3, .secondaryJ h3, .secondaryS h3 {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.4rem;
}

.primary h5, .tertiary h5, .secondaryJ h5, .secondaryS h5 {
    text-align: center;
    font-size: 1rem;
    padding-top: 0.5rem;
}

.primary p, .tertiary p, .secondaryJ p, .secondaryS p {
    text-align: center;
    padding: 0.5rem 2rem;
}

.primary img, .secondaryJ img, .secondaryS img, .tertiary img {
    position: absolute;
    border-radius: 1rem;
    width: 29.8rem;
    height: 14.9rem;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.primary img:hover, .secondaryS img:hover, .secondaryJ img:hover, .tertiary img:hover {
    opacity: 0.15;
}

.primary:hover, .secondaryJ:hover, .secondaryS:hover, .tertiary:hover {
    color: white;
    border: 1px solid white;
    background: #03071f;
    box-shadow: 9px 3px 291px -19px #565f91;
}


